{% extends 'base.html' %}
{% block title %}
    Sign up |
{% endblock %}
{% block content %}
<div id="main-content" class="p-10 lg:p-20 text-center" style="flex-grow: 1; background: linear-gradient(to right, #383838, #000000);">
    <div class="text-center">
        <h1 class="text-5xl lg:text-7xl font-bold text-white mb-10">Sign up</h1>
    </div>
    <form method="post" action="." class="lg:w-1/4 mx-auto bg-gradient-to-r from-green-600 via-green-700 to-green-800 p-6 rounded-lg shadow-lg">
        {% csrf_token %}
        <div class="mb-5 text-white">
            <label>Username</label>
            <input type="text" name="username" class="w-full mt-2 px-4 py-2 border border-gray-300 rounded bg-white text-black">
        </div>
        <div class="mb-5 text-white">
            <label>Password</label>
            <input type="password" name="password1" class="w-full mt-2 px-4 py-2 border border-gray-300 rounded bg-white text-black">
        </div>
        <div class="mb-5 text-white">
            <label>Repeat password</label>
            <input type="password" name="password2" class="w-full mt-2 px-4 py-2 border border-gray-300 rounded bg-white text-black">
        </div>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="mb-5 p-4 rounded-xl bg-red-500 text-white">
                        <p>{{ error|escape }}</p>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <div class="flex justify-center">
            <button class="px-5 py-3 rounded-xl text-white bg-gray-800 hover:bg-gray-700 transition-transform hover:-translate-y-1">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
