{% extends 'base.html' %}
{% block title %}Chat with AI{% endblock %}
{% block content %}
    <div id="main-content" class="p-10 lg:p-20 text-center"
         style="flex-grow: 1; background: linear-gradient(to right, #383838, #000000);">
        <div class="text-center">
            <h1 class="text-5xl lg:text-7xl font-bold text-white mb-10">Chat with AI</h1>
        </div>
        <div class="lg:w-2/4 mx-4 lg:mx-auto p-4 bg-gradient-to-r from-blue-600 via-blue-700 to-blue-800 rounded-xl text-left">
            <div class="chat-messages space-y-3 overflow-y-auto max-h-96" id="chat-messages">
                <!-- Messages will be displayed here -->
            </div>
        </div>
        <div class="lg:w-2/4 mt-6 mx-4 lg:mx-auto p-4 rounded-xl">
            <form method="post" action="."
                  style="display: flex; flex-direction: column; gap: 10px; background: linear-gradient(to right, #38b2ac, #3182ce); padding: 12px; border-radius: 15px;">
                {% csrf_token %}
                <input type="text" name="content"
                       style="flex-grow: 1; margin-bottom: 10px; padding: 8px; border-radius: 10px; border: none;"
                       placeholder="Your message..." id="chat-message-input">
                <button style="padding: 10px 20px; border-radius: 15px; background: linear-gradient(to right, #48bb78, #48bb78); color: white; border: none;"
                        id="chat-message-submit">Submit
                </button>
            </form>
        </div>
    </div>
{% endblock %}
{% load static %}
{% block scripts %}
    <script src="{% static 'js/bundle.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            if (window.enterChatGPT) {
            window.enterChatGPT();
            }
        });
    </script>
{% endblock %}
